body{
    background-color: #D1ECFF;
}
/* Nav-bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li {
    float: left;
  }
  li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: #111;
  }
  .active{
    background-color: #D1ECFF;
    color: #004A94;
    border: 2px solid #333;
  }
  .nav-btn{
    display: block;
    color: #004A94;
    background-color: #D1ECFF;
    border: none;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
/* Body */
.input-container{
    width: 30%;
    margin-top: 25px;
    border-radius: 15px;
    background-color: #D1ECFF;
    border: 10px solid #333;
    padding: 40px;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background-color: white;
    border: 1px solid #004A94;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background-color: white;
    border: 1px solid #004A94;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type=submit]{
    padding: 6px 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    background-color: #004A94;
    border: 5px solid #333;
    border-radius: 4px;
    cursor: pointer;

}

h1{
    font-family: 'Poppins', sans-serif;
}
hr{
    border: 2px solid #004A94;
    color: #004A94;
}
