.input-container{
    width: 30%;
    margin: auto;
    border-radius: 15px;
    background-color: #D1ECFF;
    border: 10px solid #333;
    padding: 40px;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background-color: white;
    border: 1px solid #004A94;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type=submit]{
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
    background-color: dodgerblue;
    border: 5px solid #333;
    border-radius: 4px;
    cursor: pointer;

}
input[type=submit]:hover{
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
    background-image: linear-gradient(orange, yellow);
    border: 5px solid #333;
    border-radius: 4px;
    cursor: pointer;

}
h1{
    font-family: 'Poppins', sans-serif;
}
hr{
    border: 2px solid #004A94;
    color: #004A94;
}
